/* popup */

.editPatientInput{
    margin: 10px;
  }
  .div1form h6{
    margin: 20px;
  }
  .div1form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .div1form  button {
    margin: 10px;
  }
  .display{
      display: flex;
      width: 25%;
      margin-bottom: 20px;
    }
    .hidden{
     display: none;
    }
    .popup-box {
      color: black;
      position: fixed;
      background: #25131350;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
     
    .popup-inner {
      justify-content: center;
      display: flex;
      position: relative;
      flex-direction: column;
      width: 50%;
      margin: 0 auto;
      height: auto;
      border-radius: 4px;
      padding: 20px;
      border: 1px solid #999;
      overflow: auto;
    }
  .formBtns{
    margin-top: 10px;
  }
  .editBtnBox{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }